

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  max-width: 1260px;
  margin: auto;
  padding-top: 30px;
}


h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1em;
  padding-bottom: 1em;
}

main { 
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 3em;
}

section {
  margin: auto 1em 4em 2em;
  background-color: #f5f5f5; /* Gris claro */
  padding: 1em;
  border-radius: 8px; /* Bordes redondeados para un aspecto suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
}

header {
  text-align: center;
  margin: auto 3em;
  padding: 2em 0;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Fondo degradado */
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 4em; /* Aumentar tamaño de fuente */
  font-weight: bold; /* Fuente en negrita */
  color: #333; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra en el texto */
  margin-bottom: 0.5em;
}

header {
  text-align: center;
  margin: auto 3em;
  padding: 2em 0;
  background: linear-gradient(to right, #e6e6e6, #f5f5f5); /* Fondo degradado en tonos de gris */
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  color: #333333; /* Ajusta esto según tu esquema de color */
  padding-right: 20px;
}
hr {
  font-size: 1.2em; /* Aumentar tamaño de fuente */
  font-weight: bold; /* Hacer el texto en negrita */
  margin-top: 1em; /* Espacio antes del texto */
  margin-bottom: 1em; /* Espacio después del texto */
}
h1 {
  font-size: 4em; /* Aumentar tamaño de fuente */
  font-weight: bold; /* Fuente en negrita */
  color: #333; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra en el texto */
  margin-bottom: 0.5em;
}



i {
  margin-right: .5em;
}

p {
  margin: .2em auto
}

hr {
  border: none;
  background-color: lightgray;
  height: 1px;
}

h1, h2, h3 {
  font-weight: 100;
  margin-bottom: 0;
}
#mainLeft {
  border-right: 1px solid lightgray;
}
